.circle-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-pulse {
  width: 100%;
  height: 100%;
  border-radius: 50%; 
  background-color: var(--slate-200); 
  
  animation: pulse-grow 1.2s infinite ease-in-out alternate, 
             color-change 2.4s infinite alternate; 
}

@keyframes pulse-grow {
  0% {
    transform: scale(0.6);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

@keyframes color-change {
    0% {
        background-color: var(--slate-200);
    }
    50% {
        background-color: var(--slate-100);
    }
    100% {
        background-color: var(--slate-200);
    }
}